<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Hawaiʻi Names</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- main -->
    <link href="../static/css/about.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--Roboto Font-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <!--Roboto Font-->

  <!-- ****** faviconit.com favicons ****** -->
  <link rel="shortcut icon" href="../static/favicon/favicon.ico">
  <link rel="icon" sizes="16x16 32x32 64x64" href="../static/favicon/favicon.ico">
  <link rel="icon" type="image/png" sizes="196x196" href="../static/favicon/favicon-192.png">
  <link rel="icon" type="image/png" sizes="160x160" href="../static/favicon/favicon-160.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../static/favicon/favicon-96.png">
  <link rel="icon" type="image/png" sizes="64x64" href="../static/favicon/favicon-64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16.png">
  <link rel="apple-touch-icon" href="../static/favicon/favicon-57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../static/favicon/favicon-114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../static/favicon/favicon-72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../static/favicon/favicon-144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../static/favicon/favicon-60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../static/favicon/favicon-120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../static/favicon/favicon-76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../static/favicon/favicon-152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/favicon-180.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="../static/favicon/favicon-144.png">
  <meta name="msapplication-config" content="../static/favicon/browserconfig.xml">
  <!-- ****** faviconit.com favicons ****** -->



  </head>
  <body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Stripe Checkout-->
    <script src="https://checkout.stripe.com/checkout.js"></script>


 <!--Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img id="logo" alt="" src="../static/icon.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="/">Map </a></li>
        <li class="current-nav"><a href="/analysis">Analysis </a></li>
        <li><a href="/editMap">Edit</a></li>
        <li  ><a href="/about">About</a></li><!--
        <li ><a href="/donate">donate</a></li>-->
      </ul>
</div>
  </div>
</nav>



<div class="container-fluid buffer"></div>
<div class="container-fluid buffer"></div>


<div class="main-screen container-fluid">
<div class="container-fluid buffer"></div>









  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Structure</h3>
    </div>
    <div class="panel-body">
<p>Most place names of Hawaii are a combination of Hawaiian words. The names can be nouns groups like Hanauma <mark>hana “bay” + uma “curved”</mark>, verbs groups like Nānākuli <mark>nānā “look at” + kuli “knee”</mark>, or single words like Mānoa <mark> “vast”</mark>. <br><br>

Some noun groups include articles : Kalihi : <mark>ka “the" + lihi “edge”</mark>, or Napali <mark> na “the, plural” + pali “Cliffs”</mark>. Other contain reduplications of words like Waikiki <mark>wai “water” + ki “spout forth” (x2)</mark>. Reducplication typically carry the meaning of "continuing state or activity".<br><br>

Sometimes places are named after people. Alexander <mark>ʻIolani</mark> Liholiho gave his name to a palace and a school, the Kamehameha dynasty to a highway. Western name can be hawaiianised: <mark>Emekua</mark> is the Hawaiian version of Emerson, for a famous physician who recorded the folk tales of Hawaii. ʻĀina Haina is a mix of <mark>ʻāina "land" + Haina "Hind"</mark>, after the Hind family that used to own the area.<br><br>

    </div>
  </div>



<div class="container-fluid buffer"></div>

  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Sources</h3>
    </div>
    <div class="panel-body">
<p> Most names predate the arrival of the Europeans to the Hawaiian islands. They tend to describe geographic features, but there are also names coming from plants, actions, people, and even lengendary animals. Mōʻiliʻili for instance means <mark>Mō "legenday lizard destroyed by Pele's sister" + ʻili "pebble" (x2)</mark>.<br><br>


After the different waves of immigrants settled in the islands (in order from Western Europe, China, Portugal, Japan, and the Phililppines), names from foreign languages came into existence. These names typically come from discoverers, missionaries, business or political figures. There are exceptions, like Yokahoma bay, which has a Japanese name simply because it was the <mark>last station of the Oʻahu railway that sent Japanese fishermen off</mark>.<br><br>


Now new names for hotels, streets, developpments typically combine English words or simple Hawaiian words that newcomers can easily pronounce. A few of them contain mistakes. The most famous example is certainly Lanikai, which reads <mark>lani "heavenly" + kai "ocean"</mark>. This name coined in the 1930s should have been Kailani, as the adjective follows the noun in Hawaiian.<br><br>

</p>
    </div>
  </div>




<div class="container-fluid buffer"></div>

  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Difficulties</h3>
    </div>
    <div class="panel-body">
<p> Polysemy is courant in Hawaiian. When several words have the same  exact pronunciation, one must choose the most probable meaning based on the topography or the traditions. For instance, it makes more sense to parse Kailua as <mark>kai “sea” + lua “two”</mark> (due to the currents, especially in the big island) than as <mark>kai “sea” + lua “pit, hole”</mark>.<br><br>

In some cases, several traditions coexist. Nānākuli can be either understood as <mark>Nānā “look at” + kuli “knee”</mark> (in the honor of the tattooed knee of a chief) or <mark>Nānā “look” + kuli “deaf”</mark> (local inhabitants may have been said not to give enough food to the strangers passing by).<br><br>


Some words are too old or too obscure to be clearly translated. This is the case of the names of the islands. <mark>Oʻahu</mark> has been translated as “gathering place”, however such an explanation would make sense only if the ʻokina was before the initial, as in ʻOahu. Equally hazardous to parse are the translations of <mark>Molokaʻi</mark>, <mark>Kauaʻi</mark>, or even <mark>Hawaiʻi</mark>.<br><br>

A few names are only documented in Western maps without the accentuation and the ʻokina. The pronuciation has been lost. It is then impossible to know exactly how to parse them. The meaning has been lost.

</p>
    </div>
  </div>



<div class="container-fluid buffer"></div>

  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">A useful Gloassary</h3>
    </div>
    <div class="panel-body">
<p> The top ten words used in Hawaii place names are: <br>
wai "stream, river, fresh water"<br>
kai "sea"<br>
puʻu "hill, mount"<br>
moku "district, island"<br>
hale "house"<br>
lani "sky, royal chief"<br>
lae "cape, point, forehead"<br>
manuma "mountain"<br>
pali "cliff"<br>
ana "cave"<br><br>

Still there? Here are a few qualifiers too:<br>
loa "long"<br>
nui "large"<br>
iki "small"<br>
ʻula "red"<br>
kea "white"<br>
</p>
    </div>
  </div>

<div class="container-fluid buffer"></div>



  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Why?</h3>
    </div>
    <div class="panel-body">
<p>Learn the language! You already know the words. It's so easy to remember their meaning! Once you have heard that Waiākea means <mark> wai "waters"  + ākea "broad"</mark>, you have already memorized two words of Hawaiian that you will never forget.<br><br>

Learn the history! Did you ever wonder who was Keʻeaumoku? He was a <mark>Hawaiian chief, father of Kaʻahumanu</mark>. Explore the map to know who Bishop, Dilingham, or Likelike were! <br><br>

Actually, there is a lot more about Hawaii place names than a litteral translation. Place names appear at length in Hawaiian sayings and chants - there are tales, histories, and meanings attached to them. Some specialists of Hawaiian culture can describe with precision the multiple layered meanings of a single place name. This map is only an introduction. <br><br>


</p>

    </div>
  </div>


<div class="container-fluid buffer"></div>
<!-- 

<div class="container-fluid buffer"></div>



  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Donate</h3>
    </div>
    <div class="panel-body">

<p id="thanks" style="display:none">Thank you for your donation!<br/> If you have any follow up question, please send us an email at projectolelo@gmail.com.</p>
<div id="donationInput" class="input-group">
<span class="input-group-addon">$</span>
<input type="number" class="form-control" id="donationAmount" placeholder="Enter donation amount">
</div>
<div class="container-fluid buffer"></div>
<script src="https://checkout.stripe.com/checkout.js"></script>
<button id="donateButton" class="btn btn-success" style="display:none">Donate</button>

<script>


$( document ).ready(function() {


// makes the button clickable on input only
 $('#donationAmount').on('input',function(e){
if  ($('#donationAmount').val()) {
  console.log($('#donationAmount').val());
  $('#donateButton').show();
}

else {
  $('#donateButton').hide()

}


});


var handler = StripeCheckout.configure({
  key: "{{ key }}" ,
  image: 'https://drive.google.com/uc?id=0B_oZIB9trZsfLTJwM3M2R2xWN1E',
  locale: 'auto',
  token: function(token) {
    // You can access the token ID with `token.id`.
    // Get the token ID to your server-side code for use.
var URL=$SCRIPT_ROOT + '/stripePayment';
var dict = {};
console.log(token.id);
dict["stripeToken"]=token.id;
dict['donationAmount']=donationAmount;
  $.getJSON(
    URL,
    dict,
  function(data) {
      $('#donationInput').hide()
      $('#donateButton').hide()
      $('#thanks').show()
                })
//end of the ajax request

  }
});

document.getElementById('donateButton').addEventListener('click', function(e) {
  donationAmount=$("#donationAmount").val()*100;
  // Open Checkout with further options:
  handler.open({
    name: "Project 'Ōlelo",
    description: 'donation',
    zipCode: true,
    amount: donationAmount
  });
  e.preventDefault();
  console.log(donationAmount)
});

// Close Checkout on page navigation:
window.addEventListener('popstate', function() {
  handler.close();
});


}); // end of the document ready function




</script> -->





    </div>
  </div>

</div>







    <!-- enables us to access URL as $SCRIPT_ROOT -->
    <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- Stripe -->
<!--     <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
 -->


  </body>
</html>